.table {
    width: 85%;
    margin: 20px auto;
}

section .table .txt-yellow {
    --bs-table-bg: #8B4513;
    --bs-table-color: #ffc107;
}

.table-group-divider {
    color: #ffc107;
}

.selected {
    --bs-table-bg: #e9d0536b;
}

.mh-logo {
    margin: 0 0;
}

.logo {
    max-height: 50px;
    width: auto;
}

.img-landing {
    width: 100%;
    object-fit: cover;
}

.haha {
    max-width: 75%;
}

.bi {
    color:#8B4513;
}

.max-h {
    max-height: 300px;
}